@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #324F4A;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 400px;
    color: #fff;
    margin: 2rem auto;
    
    h2{
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }


    form {
        background: #648C83;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;

        ::placeholder {
            color: #fff;
            opacity: 0.7;
        }

        input {
            width: 100%;
            padding: 15px 8px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background: none;
            border: #fff 2px solid;
            font-size: 16px;

            &:focus {
                outline: #FF8256 solid 2px;
            }
        }

        button {
            width: 100%;
            padding: 15px 8px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background: #FF8256;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;

            &:hover {
                background: #FF6347;
            }
        }
    }
}